RAPID_API_KEY=
PAIR_ADDRESS=
TREASURY_ADDRESS=
TWITTER_API_KEY=
TWITTER_API_SECRET_KEY=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=
TWITTER_BEARER_TOKEN=
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
REDIS_PASSWORD=
OPENAI_API_KEY=